<div class="layout-container" appAnchors>
  <header class="layout-header">
    <div class="title"><span>{{album.name}}</span></div>
    <ul class="navigation">
      <li><a [routerLink]="['/']"><i class="icon-home"></i><span class="label" i18n>Home</span></a></li>
      <li><a (click)="chooseAlbum()"><i class="icon-albums"></i><span class="label" i18n>Albums</span></a></li>
      <li *ngIf="authService.isUserAdmin()"><a [routerLink]="['/', 'admin', 'albums', album.id]"><i class="icon-albums"></i><span class="label" i18n>Edit</span></a></li>
      <li *ngIf="authService.isLogged()"><a (click)="authService.logout()"><i class="icon-logout always-visible"></i></a></li>
    </ul>
  </header>
  <app-image-grid>
    <app-image-grid-item *ngFor="let image of album.images;">
      <div class="image-wrapper" [style.padding-bottom.%]="image.height/image.width*100">
        <app-anchor [name]="image.filename"></app-anchor>
        <img [routerLink]="[image.filename]" src="/library{{image.thumbUrl || image.url}}">
      </div>
    </app-image-grid-item>
  </app-image-grid>
</div>

