<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>{{album.name}}</span></div>
    <ul class="navigation">
      <li><a [routerLink]="['/']"><i class="icon-home"></i><span class="label">Home</span></a></li>
      <li><a (click)="chooseAlbum()"><i class="icon-albums"></i><span class="label">Albums</span></a></li>
    </ul>
  </header>
  <app-image-grid>
    <app-image-grid-item *ngFor="let image of album.images;">
      <div class="image-wrapper" [style.padding-bottom.%]="image.height/image.width*100">
        <img [routerLink]="[image.filename]" src="{{image.url}}">
      </div>
    </app-image-grid-item>
  </app-image-grid>
</div>

