<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>Administration > {{album.name}}</span></div>
    <ul class="navigation" style="font-size:1.2rem">
      <li></li>
    </ul>
  </header>
  <nav>
    <p-button class="action" label="Add images" (click)="fileSelector.open()"></p-button>
    <p-button class="action" label="Modify album"></p-button>
    <p-button class="action" label="Delete album"></p-button>
  </nav>
  <p-table [value]="images" dataKey="filename">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 200px">Image</th>
        <th>Image data</th>
        <th style="width: 100px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-image let-index="rowIndex">
      <tr [pReorderableRow]="index">
        <td>
          <img class="image-preview" [src]="image.url" />
        </td>
        <td>
          <ul class="data-list">
            <li><span class="label">Filename:</span> {{image.filename}}</li>
            <li><span class="label">Resolution:</span> {{image.width}} x {{image.height}}</li>
            <li *ngIf="image.title"><span class="label">Title:</span> {{image.title}}</li>
          </ul>
        </td>
        <td class="actions">
          <i class="pi pi-bars" pReorderableRowHandle></i>
          <i class="pi pi-trash" (click)="deleteImage(image)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-library-file-selector #fileSelector (selectFiles)="addImages($event)"></app-library-file-selector>
