:host {
  display: block;
  height: 100%;
}

nav {
  padding: 20px 0 10px 0;
  .action {
    margin: 0 10px 10px 0;
  }
}


.image-preview {
  width: 100%;
  display: inline-block;
  max-width: 300px;
  padding-top: 4px;
}

.data-list {
  list-style: none;

  > li {
    margin-top: 4px;
  }

  .label {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.8em;
    color: #999;
  }

  .processing {
    > div {
      font-size: 12px;
      line-height: 2;
    }

  .step {
    position: relative;
    margin-left: 30px;
    &::before {
      content: "";
      height: 5px;
      width: 5px;
      border-radius: 50%;
      border: 3.5px solid;
      position: absolute;
      border-color: #889eb7;
      background-color: #889eb7;;
      left: -20px;
      top: 8px;
    }
    &:not(:last-child)::after {
      content: "";
      border-left: 1px solid #889eb7;;
      position: absolute;
      left: -17px;
      display: block;
      height: 100%;
      top: 50%;
    }
   }
  }
}



.checkbox-column {
  width: 50px;
  text-align: center;

  .ui-chkbox { margin-right: 0; }
}

.actions {
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;

  .pi:not(:last-child) {
    margin-right: 10px;
  }
  .pi:hover {
    color: #aaa;
  }
}


