<app-header-navigation></app-header-navigation>
<div class="admin-layout-container">
  <nav>
    <p-button class="action" i18n-label label="Add images" (click)="libraryFilesSelector.open()"></p-button>
    <p-button class="action" [disabled]="!selected.length" i18n-label label="Delete images" (click)="selected.length && removeImages(selected)"></p-button>
    <p-button class="action" i18n-label label="Modify album" (click)="albumModify.open(album);"></p-button>
    <p-button class="action" i18n-label label="Delete album" (click)="removeAlbum(album.id)"></p-button>
    <p-button class="action" [disabled]="!selected.length" i18n-label label="Create thumbnails" (click)="selected.length && createThumbnails(selected)"></p-button>
  </nav>
  <p-table [value]="images" dataKey="url" [(selection)]="selected">
    <ng-template pTemplate="header">
      <tr>
        <th class="checkbox-column">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 200px" i18n>Image</th>
        <th i18n>Image data</th>
        <th style="width: 80px" i18n>Move</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-image let-index="rowIndex">
      <tr [pReorderableRow]="index">
        <td class="checkbox-column">
          <p-tableCheckbox [value]="image"></p-tableCheckbox>
        </td>
        <td>
          <img class="image-preview" [src]="'/library' + (image.thumbUrl || image.url)" />
        </td>
        <td>
          <ul class="data-list">
            <li><span class="label" i18n>Filename:</span> {{image.filename}}</li>
            <li><span class="label" i18n>Resolution:</span> {{image.width}} x {{image.height}}</li>
            <li><span class="label" i18n>Url:</span> {{image.url}}</li>
            <li><span class="label" i18n>Thumbnail url:</span> {{image.thumbUrl}}</li>
            <li *ngIf="image.title"><span class="label" i18n>Title:</span> {{image.title}}</li>
          </ul>
        </td>
        <td class="actions">
          <i class="pi pi-bars" pReorderableRowHandle></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-library-files-selector #libraryFilesSelector (selectFiles)="addImages($event)"></app-library-files-selector>
<p-confirmDialog i18n-header header="Confirmation" icon="pi pi-exclamation-triangle" width="425"
                 i18n-message message="Do you really want to delete this album?"></p-confirmDialog>
<app-album-create #albumModify [albums]="albums" (confirm)="onUpdateAlbum($event)" i18n-headerLabel headerLabel="Modify album"></app-album-create>
