.bounding-box {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.buttons-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .preview-nav {
        display: flex;
        align-items: center;
    
        > button {
            margin-right: 10px;
        }
    
        p-tag {
            margin-left: 20px;
        }
    }

    .selection-nav {
        text-align: center;
    }

    > div {
        width: 33%;
    }
}

::ng-deep .p-dialog .p-dialog-footer button {
    &.left-button, &.right-button {
        width: 2.357rem;
        margin: 0;
    }
    &.done-button {
        margin: 0;
    }
}

p-tag {
    text-align: center;
}

