app-album-details {

  nav {
    padding: 20px 0 10px 0;
    .action {
      margin: 0 10px 10px 0;
    }
  }

  display: block;
  height: 100%;

  .image-preview {
    width: 100%;
    display: inline-block;
    max-width: 300px;
    padding-top: 4px;
  }

  .data-list {
    list-style: none;

    > li {
      margin-top: 4px;
    }

    .label {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 0.8em;
      color: #999;
    }
  }

  .checkbox-column {
    width: 50px;
    text-align: center;

    .ui-chkbox { margin-right: 0; }
  }

  .actions {
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;

    .pi:not(:last-child) {
      margin-right: 10px;
    }
    .pi:hover {
      color: #aaa;
    }
  }
}

