app-albums-manager {

  display: block;
  height: 100%;

  .album-tree {
    list-style: none;
    margin: 0;
    padding: 0;

    .tree-item {
      display: inline-block;
      padding: 5px 8px;
      background: #f1f1f1;
      color: #000;
      font-weight: 300;
      font-size: 0.8rem;
      margin-right: 5px;
    }
  }
}
