<p-dialog [(visible)]="display" [positionTop]="100" [resizable]="false"
          [blockScroll]="true" [modal]="true" [draggable]="false" [style]="{width: '800px'}"
          [contentStyle]="{'max-height': '500px'}">
    <p-header>
        Batch processing parameters
    </p-header>
    <div class="grid p-fluid">
        <div class="field col-12 md:col-12 field-enabled">
            <p-checkbox id="resize" [binary]="true" [(ngModel)]="resizeEnabled"></p-checkbox> 
            <span>Resize image</span>
        </div>
        <div class="field col-12 md:col-3">
            <label for="width">Width</label>
            <p-inputNumber id="width" [(ngModel)]="resizeParams.width" [useGrouping]="false" mode="decimal"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label for="height">Height</label>
            <p-inputNumber id="height" [(ngModel)]="resizeParams.height" [useGrouping]="false" mode="decimal"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label for="modes">Modes</label>
            <p-dropdown id="modes" [options]="resizeModes" [(ngModel)]="resizeParams.mode" optionLabel="name" optionValue="code" [appendTo]="'body'"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3 quality">
            <label for="quality">Quality ({{resizeParams.quality}}%)</label>
            <p-slider [(ngModel)]="resizeParams.quality" [min]="0" [max]="100"></p-slider>
        </div>
    </div>
    <p-footer>
        <button (click)="doRevert()" pButton pRipple type="button" i18n-label label="Revert to original" class="p-button-outlined p-button-warning"></button>
        <button (click)="doProcess()" pButton pRipple type="button" i18n-label label="Process" class="p-button-primary"></button>
    </p-footer>
</p-dialog>
