<p-dialog [(visible)]="display" [positionTop]="100" [resizable]="false"
          [blockScroll]="true" [modal]="true" [draggable]="false" [style]="{width: '800px'}"
          [contentStyle]="{'max-height': '500px'}">
    <p-header>
        Batch processing parameters
    </p-header>
    <div class="grid p-fluid">
        <div class="field col-12 md:col-3 field-enabled">
            <p-checkbox id="resize" [binary]="true" [(ngModel)]="resizeEnabled"></p-checkbox> 
            <span>Resize image</span>
        </div>
        <div class="field col-12 md:col-3">
            <label for="width">Width</label>
            <p-inputNumber id="width" [(ngModel)]="resizeParams.width" [useGrouping]="false" mode="decimal" [disabled]="!resizeEnabled"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label for="height">Height</label>
            <p-inputNumber id="height" [(ngModel)]="resizeParams.height" [useGrouping]="false" mode="decimal" [disabled]="!resizeEnabled"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-3">
            <label for="modes">Modes</label>
            <p-dropdown id="modes" [options]="resizeModes" [(ngModel)]="resizeParams.mode" optionLabel="name" optionValue="code" [appendTo]="'body'" [disabled]="!resizeEnabled"></p-dropdown>
        </div>


        <div class="field col-12 md:col-3 field-enabled">
            <p-checkbox id="resize" [binary]="true" [(ngModel)]="sharpenEnabled"></p-checkbox> 
            <span>Sharpen image</span>
        </div>
        <div class="field col-12 md:col-9 amount">
            <label for="amount">Amount ({{sharpenParams.amount}})</label>
            <p-slider [(ngModel)]="sharpenParams.amount" [min]="0" [max]="2" [step]="0.01" [disabled]="!sharpenEnabled"></p-slider>
        </div>
        
        <div class="field col-12 md:col-3 field-enabled">
            <p-checkbox id="export" [binary]="true" [disabled]="true" [(ngModel)]="exportEnabled"></p-checkbox> 
            <span>Export</span>
        </div>
        <div class="field col-12 md:col-9 quality">
            <label for="quality">Quality ({{exportParams.quality}}%)</label>
            <p-slider [(ngModel)]="exportParams.quality" [min]="0" [max]="100"></p-slider>
        </div>
    </div>
    <p-footer>
        <button (click)="doRevert()" pButton pRipple type="button" i18n-label label="Revert to original" class="p-button-outlined p-button-warning"></button>
        <button (click)="doProcess()" pButton pRipple type="button" i18n-label label="Process" class="p-button-primary"></button>
    </p-footer>
</p-dialog>
