<p-table [value]="files" [columns]="cols" [lazy]="true" [lazyLoadOnInit]="true" (onLazyLoad)="loadInitialData()"
         [loading]="loading" [selection]="selectedFiles" (selectionChange)="selectFiles.emit($event)" dataKey="filename">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th style="width: 100px" i18n>Preview</th>
      <th i18n>Name</th>
      <th i18n>Size</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td style="width: 3em; text-align: center;">
        <p-tableCheckbox *ngIf="!rowData.dir" [value]="rowData"></p-tableCheckbox>
      </td>
      <ng-container *ngIf="!rowData.dir; else dirTemplate">
        <td style="width: 100px; text-align: center">
          <img src="/library{{rowData.path}}" style="width: 50px;" />
        </td>
        <td>{{rowData.filename}}</td>
        <td>{{rowData.size | size}}</td>
      </ng-container>
      <ng-template #dirTemplate>
        <td style="width: 100px; text-align: center">
          <i class="icon icon-folder"></i>
        </td>
        <td colspan="2" style="cursor: pointer" (click)="onDirSelect(rowData)">
          {{rowData.filename}}
        </td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
