<app-header-navigation></app-header-navigation>
<div class="admin-layout-container">
  <nav>
    <p-button class="action" label="Create directory" (click)="directoryCreate.open()"></p-button>
    <p-button class="action" label="Upload" (click)="libraryUpload.open(currentDirectory)"></p-button>
  </nav>
  <app-library-browser (selectFiles)="selectedFiles=$event" (directoryChange)="onDirectoryChange($event)" #libraryBrowser></app-library-browser>
</div>
<app-library-directory-create #directoryCreate (confirm)="onCreateDirectory($event)"></app-library-directory-create>
<app-library-upload #libraryUpload (upload)="onUpload()"></app-library-upload>
