<div class="ui-grid-row" style="align-items: center">
  <div class="ui-grid-col-4">
    Group:
  </div>
  <div class="ui-grid-col-8">
    <ul class="groups-list" *ngIf="selectedGroups.length; else noneTemplate">
      <li *ngFor="let group of selectedGroups">{{group.label}}</li>
    </ul>
    <ng-template #noneTemplate>Not defined</ng-template>
  </div>
</div>
<div class="ui-grid-row" style="align-items: center">
  <div class="ui-grid-col-4"></div>
  <div class="ui-grid-col-5">
    <input class="ui-inputtext" pInputText type="text" [(ngModel)]="groupName" placeholder="Add group" style="width: 100%"
           (enter)="groupName && addGroup(groupName)"/>
  </div>
  <div class="ui-grid-col-3" style="text-align: right;">
    <p-button label="Add" [disabled]="!groupName" (click)="groupName && addGroup(groupName)"></p-button>
    <p-button class="del-button" icon="pi pi-angle-double-left" [disabled]="!selectedGroups.length" (click)="selectedGroups.length && deleteLastGroup()"></p-button>
  </div>
</div>
<div class="ui-grid-row" style="align-items: center">
  <div class="ui-grid-col-4"></div>
  <div class="ui-grid-col-8">
    <span class="select-existing">or select existing...</span>
    <p-tree [value]="allGroupsTreeNodes" selectionMode="single" (onNodeSelect)="selectGroupNode($event)"></p-tree>
  </div>
</div>

