.container {
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    
    .imageFrame {
        user-select: none;
        img {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 50px;
            bottom: 10px;
            margin: auto;
            display: block;
            max-width: calc(100% - 20px);
            max-height: calc(100% - 60px);
            width: auto;
            height: auto;
        }
    }

    .navigation {
        height: 40px;
        border-bottom: 1px solid #333;
 
        .prev, .next, .close {
            top: 9px;
            width: 23px;
            height: 23px;
            cursor: pointer;
            svg { 
              transition: fill 0.4s;
              fill: #444;
            }
            &:hover {
              svg {
                  fill: #999;
              }
            }
        }

        .close {
            position: absolute;
            right: 10px;
        }

        .prev {
            position: absolute;
            right: calc(50% + 20px - 23px);
        }

        .next {
            position: absolute;
            right: calc(50% - 20px - 23px);
        }
    
        .navButton {
            color: #aaa;
        }

        .filename {
            position: absolute;
            user-select: none;
            top: 10px;
            left: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #aaa;
        }
    }
    
}