<app-header-navigation></app-header-navigation>
<div class="admin-layout-container">
  <nav>
    <p-button class="action" label="Add user" (click)="userCreate.open()"></p-button>
  </nav>
  <p-table [value]="users" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Is admin</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-index="rowIndex">
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.admin}}</td>
        <td>
          <p-button styleClass="ui-button-secondary" label="Change password" (click)="userChangePassword.open(user)"></p-button>
          <p-button styleClass="ui-button-danger" label="Delete" (click)="user.username !== 'admin' && removeUser(user)" [disabled]="user.username === 'admin'"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-user-create #userCreate (confirm)="onCreateNewUser($event)" headerLabel="Create user" [modifyUsername]="true"></app-user-create>
<app-user-create #userChangePassword (confirm)="onChangePassword($event)" headerLabel="Change password" [modifyUsername]="false"></app-user-create>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" message="Do you really want to delete this user?"></p-confirmDialog>
