<p-dialog [(visible)]="display" [positionTop]="100" [resizable]="false"
          [blockScroll]="true" [modal]="true" appendTo="body" [draggable]="false" [width]="600"
          [contentStyle]="{'overflow':'visible'}">
  <p-header>{{headerLabel}}</p-header>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid album-create" style="margin: 10px 0px" ngForm #albumForm="ngForm">
    <div class="ui-grid-row" style="align-items: center">
      <div class="ui-grid-col-4">
        Album name *:
      </div>
      <div class="ui-grid-col-8">
        <input class="ui-inputtext" pInputText type="text" [(ngModel)]="name" placeholder="Name" name="albumName" required style="width: 100%"/>
      </div>
    </div>
    <div class="ui-grid-row" style="align-items: center">
      <div class="ui-grid-col-4">
        Permalink *:
      </div>
      <ng-container *ngIf="!isCustomPermalink; else customPermalinkTemplate">
        <div class="ui-grid-col-7">{{autoPermalink || 'Not defined'}}</div>
        <div class="ui-grid-col-1" style="text-align: right;">
          <p-button icon="pi pi-pencil" (click)="togglePermalink()"></p-button>
        </div>
      </ng-container>
      <ng-template #customPermalinkTemplate>
        <div class="ui-grid-col-7">
          <input class="ui-inputtext" pInputText type="text" [(ngModel)]="customPermalink" name="permalink" placeholder="Permalink" required/>
        </div>
        <div class="ui-grid-col-1" style="text-align: right;">
          <p-button icon="pi pi-times" (click)="togglePermalink()"></p-button>
        </div>
      </ng-template>
    </div>
    <app-album-group-selector [albums]="albums" [(groups)]="groups" class="ui-grid ui-grid-pad"></app-album-group-selector>
  </div>
  <p-footer>
    <p-button label="Confirm" (click)="albumForm.form.valid && save()" [disabled]="!albumForm.form.valid"></p-button>
  </p-footer>
</p-dialog>
