<p-dialog [(visible)]="display" [positionTop]="100" [resizable]="false"
          [blockScroll]="true" [modal]="true" appendTo="body" [draggable]="false" [width]="500">
  <p-header>
    Header content here
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row" style="align-items: center">
      <div class="ui-grid-col-4">
        Album name *:
      </div>
      <div class="ui-grid-col-8">
        <input pInputText type="text" [(ngModel)]="name" placeholder="Name" required style="width: 100%"/>
      </div>
    </div>
    <div class="ui-grid-row" style="align-items: center">
      <div class="ui-grid-col-4">
        Permalink *:
      </div>
      <div class="ui-grid-col-8">
        <input pInputText type="text" [(ngModel)]="permalink" placeholder="Permalink" required style="width: 100%"/>
      </div>
    </div>
    <div class="ui-grid-row" style="align-items: center">
      <div class="ui-grid-col-4">
        Tree *:
      </div>
      <div class="ui-grid-col-8">
        <input pInputText type="text" [(ngModel)]="tree" placeholder="Tree" required style="width: 100%"/>
      </div>
    </div>
  </div>
  <p-footer>
    <p-button label="Create album" (click)="createAlbum()"></p-button>
  </p-footer>
</p-dialog>
