<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>Photo Gallery</span></div>
    <ul class="navigation">
      <li><a (click)="chooseAlbum()"><i class="icon-albums"></i><span class="label">Albums</span></a></li>
    </ul>
  </header>

  <div class="random-photo">
    <div class="photo" [style.background-image]="getRandomPhotoUrl(albums)"></div>
  </div>

  <div class="album" *ngFor="let album of albums.concat(albums).concat(albums).concat(albums)">
    <div class="thumbnail" [style.background-image]="getAlbumThumbUrl(album)"></div>
    <div class="album-meta">
      <div class="album-name">{{album.name}}</div>
      <div class="album-size">Photos: 12</div>
      <div class="album-tree">
        <ul class="sub-groups" *ngIf="album.tree.length > 1">
          <li class="sub-group" *ngFor="let subGroup of album.tree">{{subGroup}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

