<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>Photo Gallery</span></div>
    <ul class="navigation">
      <li><a (click)="chooseAlbum()"><i class="icon-albums"></i><span class="label">Albums</span></a></li>
      <li *ngIf="authService.isUserAdmin()"><a (click)="navigateToAdmin()"><i class="icon-albums"></i><span class="label">Admin</span></a></li>
    </ul>
  </header>

  <section class="welcome-image">
    <div class="image" [style.background-image]="getWelcomeImageUrl()"></div>
  </section>

  <section class="last-modified">
    <header>Last modified</header>
    <ul class="albums-list">
      <li class="album" *ngFor="let album of lastModifiedAlbums" (click)="navigateToAlbum(album)">
        <div class="thumbnail" [style.background-image]="getAlbumThumbUrl(album)"></div>
        <div class="album-meta">
          <div class="album-name">{{album.name}}</div>
          <div class="album-size icon-image">{{album.size}}</div>
          <ul class="album-tree">
            <li class="tree-item" *ngFor="let treeItem of album.tree">{{treeItem}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </section>

</div>

