<p-dialog [(visible)]="display" [positionTop]="100" [resizable]="false"
          [blockScroll]="true" [modal]="true" [draggable]="false" [width]="800"
          [contentStyle]="{'max-height': '500px'}">
  <p-header>
    Select images
  </p-header>
  <div class="drop-area" (drop)="onDrop($event)" (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)">
    <app-library-browser *ngIf="display" (selectFiles)="selectedFiles=$event" (directoryChange)="onDirectoryChange($event)" #libraryBrowser></app-library-browser>
  </div>
  <p-footer>
    <p-button class="action" label="Upload" (click)="directoryCreate.open()"></p-button>
    <p-button class="action" label="Create directory" (click)="directoryCreate.open()"></p-button>
    <p-button label="Add images" (click)="addImages()" [disabled]="!selectedFiles.length"></p-button>
  </p-footer>
</p-dialog>
<app-library-directory-create #directoryCreate (confirm)="onCreateDirectory($event)"></app-library-directory-create>
