app-album-selector-modal {
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    opacity: 0.6;
    background: #000;
  }

  .modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 740px;
    margin: auto;
    display: block;
    background: #666;

    &.closed {
      display: none;
    }

    .for-portrait-only({
      width: 100%;
      left:0;
    });
  }
}
