.album-selector-header {
  display: flex;
  align-items: center;

  .query {
    padding: 10px;
    background-color: #2a2a2a;
    flex: 1 0 0;

    input {
      background: transparent;
      border: 0;
      font-size: 1.6rem;
      color: #eee;
      font-weight: 100;
      outline: 0;
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 44px)
    }

    i {
      vertical-align: middle;
      display: inline-block;
      font-size: 1rem;
      padding: 0 15px 0 10px;
      color: #eee;
    }
  }

  .close-button {
    color: #eee;
    cursor: pointer;
    margin-left: 20px;
  }
}
