@font-face {
  font-family: "icons";
  src: url('assets/fonts/icons.1551910242065.eot');
  src: url('assets/fonts/icons.1551910242065.eot?#iefix') format('eot'),
    url('assets/fonts/icons.1551910242065.woff2') format('woff2'),
    url('assets/fonts/icons.1551910242065.woff') format('woff'),
    url('assets/fonts/icons.1551910242065.ttf') format('truetype'),
    url('assets/fonts/icons.1551910242065.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  line-height: 0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak:none;
  text-decoration:inherit;
  text-transform:none;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-album:before { content: "\EA01" }
.icon-albums:before { content: "\EA02" }
.icon-book:before { content: "\EA03" }
.icon-close:before { content: "\EA04" }
.icon-download:before { content: "\EA05" }
.icon-folder:before { content: "\EA06" }
.icon-home:before { content: "\EA07" }
.icon-image:before { content: "\EA08" }
.icon-login:before { content: "\EA09" }
.icon-logout:before { content: "\EA0A" }
.icon-menu:before { content: "\EA0B" }
.icon-next:before { content: "\EA0C" }
.icon-password:before { content: "\EA0D" }
.icon-prev:before { content: "\EA0E" }
.icon-search:before { content: "\EA0F" }
.icon-settings:before { content: "\EA10" }
.icon-user:before { content: "\EA11" }