app-index {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: auto;

  .welcome-image {
    margin-top: 30px;

    .image {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .for-max-width(600px, {
      .image {
        height: 200px;
      }
    });

    padding-bottom: 30px;
  }

  .last-modified {
    header {
      color: #666;
      background: #111;
      background: linear-gradient(#111, #000);

      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      padding: 15px 30px ;
      text-align: left;
      border-top: 1px solid #222;
    }

    ul.albums-list {
      padding: 0 30px;
      margin: 0;
    }

    li.album {
      display: inline-flex;
      width: 33.3333%;
      color: #eee;
      padding: 30px 20px 50px 0;

      &:hover {
        cursor: pointer;
        .thumbnail {
          transform: scale(1.03) rotate(3deg);
        }
      }

      .thumbnail {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-right: 35px;
        transition: transform 0.3s ease;
      }

      .album-meta {

      }

      .album-name {
        font-size: 1.5rem;
        font-weight: 100;

        &:hover {
          cursor: pointer;
        }
      }

      .album-size {
        font-size: 0.8rem;
        font-weight: 100;
        color: #999;
        padding-top: 6px;
      }

      .album-tree {
        list-style: none;
        margin-top: 12px;
        padding: 0;

        .tree-item {
          display: inline-block;
          padding: 5px 8px;
          background: #151515;
          color: #999;
          font-weight: 300;
          font-size: 0.8rem;
          margin-right: 5px;
        }
      }

      .for-max-width(1140px, {
        width: 50%;
      });

      .for-max-width(760px, {
        width: 100%;
      });
    }
  }

}
