<td>
  <span>{{name}}</span>
  <p class="description">{{description}}</p>
</td>
<ng-container *ngIf="type === 'boolean'">
  <td>
    <p-inputSwitch [ngModel]="value" (ngModelChange)="valueChange.emit($event)" name="{{key}}"></p-inputSwitch>
  </td>
</ng-container>
<ng-container *ngIf="type === 'string'">
  <td pEditableColumn [pEditableColumnField]="key">
    <p-cellEditor>
      <ng-template pTemplate="input">
        <input pInputText type="text" name="{{key}}" [formControl]="valueFormControl">
      </ng-template>
      <ng-template pTemplate="output">
        {{value || 'Click to set value...'}}
      </ng-template>
    </p-cellEditor>
  </td>
</ng-container>
<ng-container *ngIf="type === 'enum'">
  <td>
    <p-dropdown [options]="dropdownOptions" [ngModel]="value" (ngModelChange)="valueChange.emit($event)"></p-dropdown>
  </td>
</ng-container>
<ng-container *ngIf="type === 'number'">
  <td pEditableColumn [pEditableColumnField]="key">
    <p-cellEditor>
      <ng-template pTemplate="input">
        <input pInputText type="number" name="{{key}}" [formControl]="valueFormControl">
      </ng-template>
      <ng-template pTemplate="output">
        {{value || 'Click to set value...'}}
      </ng-template>
    </p-cellEditor>
  </td>
</ng-container>
<ng-container *ngIf="type === 'readonly'">
  <td>
    {{value}}
  </td>
</ng-container>