<app-header-navigation></app-header-navigation>
<div class="admin-layout-container" ngForm #settingsForm="ngForm">
  <nav>
    <p-button class="action" label="Update settings" [disabled]="!settingsChanged || !settingsForm.valid" (click)="settingsChanged && settingsForm.valid && updateSettings()"></p-button>
  </nav>
  <p-table [value]="[null]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:30%">Property</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr app-property-presenter key="authentication" [(value)]="settings['authentication']"
        name="Authentication" type="boolean"
        description="When switched on, a user is always redirected to login page before entering the gallery."
      ></tr>
      <tr app-property-presenter key="galleryName" [(value)]="settings['galleryName']"
        name="Gallery name" type="string"
        description="This name is visible on the main page."
      ></tr>
      <tr app-property-presenter key="libraryDir" [(value)]="settings['libraryDir']"
        name="Library directory" type="string"
        description="Library directory is an absolute path to directory that contains all image files.
        This is also a place where all uploaded images will be stored. After changing this property, existing
        albums may not work properly."
      ></tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" message="Do you really want to delete this user?"></p-confirmDialog>
