<app-header-navigation></app-header-navigation>
<div class="admin-layout-container" ngForm #settingsForm="ngForm">
  <nav>
    <p-button class="action" label="Update settings" [disabled]="!settingsChanged || !settingsForm.valid" (click)="settingsChanged && settingsForm.valid && updateSettings()"></p-button>
  </nav>
  <p-table [value]="[null]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:30%">Property</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <span>Gallery name</span>
          <p class="description">This name is visible on the main page.</p>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input class="" pInputText type="text" [(ngModel)]="settings.galleryName" name="galleryName">
            </ng-template>
            <ng-template pTemplate="output">
              {{settings.galleryName || 'Please click to set name...'}}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>

      <tr>
        <td>
          <span>Authentication</span>
          <p class="description">When switched on, a user is always redirected to login page before entering the gallery.</p>
        </td>
        <td>
          <p-inputSwitch [(ngModel)]="settings.authentication" name="authenticationSwitch"></p-inputSwitch>
        </td>
      </tr>

      <tr>
        <td>
          <span>Library directory</span>
          <p class="description">Library directory is an absolute path to directory that contains all image files.
            This is also a place where all uploaded images will be stored. After changing this property, existing
            albums may not work properly.
          </p>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input class="library-dir-input" pInputText type="text" [(ngModel)]="settings.libraryDir" appLibraryDirValidator name="libraryUrl">
            </ng-template>
            <ng-template pTemplate="output">
              {{settings.libraryDir}}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" message="Do you really want to delete this user?"></p-confirmDialog>
