.admin-layout-header {
    display: flex;
    align-items: center;
    font-size: 0;
    border-bottom: 1px solid #494e54;
    background-color: #363d46;
    padding: 10px 0;
    width: 100%;
    z-index: 10;

    .title {
        flex: 1 0 0;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 15px;
        display: inline-block;
        text-transform: capitalize;
        color: #ddd;
    }

    .push-right {
        flex: 1 0 0;
        text-align: right;
        margin: 0 30px;
    }

    .back, .logout {
        display: inline-block;
        margin-left: 20px;

        a {
            color: #ddd;
            cursor: pointer;
            font-size: 1.2rem;
            font-variant: all-small-caps;
        }
    }

    .back {
        i {
            margin-right: 5px;
        }
    }
}

.admin-navigation {
    width: 200px;
    background-color: #363d46;
    height: 100%;
    position: absolute;
    padding: 15px 0 0;
    margin: 0;
    list-style: none;

    li {
        padding: .75rem 1rem;
        outline: 0;
        
        a {
            color: #fff;
            font-weight: 300;
            font-size: 0.9rem;
        }

        i {
            transform: scale(0.8);
            color: #bbb;
            margin: 0 15px 0 0;
        }
        
        &.active, &:active {
            background-color: #232323;
            i {
                color: #fff;
            }
        }

        &:hover {
            background-color: #007ad970;
            cursor: pointer;
            i {
                color: #fff;
            }
        }
    }
}