<header class="admin-layout-header">
  <div class="title"><span i18n>Administration</span></div>
  <div class="push-right">
    <div class="back"><a [routerLink]="back || '/'"><i class="icon-prev"></i><span i18n>{{label || 'Return to gallery'}}</span></a></div>
    <div class="logout"><a (click)="authService.logout()"><i class="icon-logout always-visible"></i></a></div>
  </div>
</header>
<ul class="admin-navigation" style="font-size:1rem;">
  <li routerLink="/admin/albums" routerLinkActive="active"><a><i class="icon-album"></i><span class="label" i18n>Albums</span></a></li>
  <li routerLink="/admin/library" routerLinkActive="active"><a><i class="icon-book"></i><span class="label" i18n>Library</span></a></li>
  <li routerLink="/admin/users" routerLinkActive="active"><a><i class="icon-user"></i><span class="label" i18n>Users</span></a></li>
  <li routerLink="/admin/settings" routerLinkActive="active"><a><i class="icon-settings"></i><span class="label" i18n>Settings</span></a></li>
</ul>
