$navigation-padding: 10px;
$padding-vertical: 20px;
$navigation-button-width: 32px;

.image-frame {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: relative;

  .image-window {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;

    }
  }
}

.navigation-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 2rem;

  .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .action-bar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    color: #bbb;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
  }

  .menu-button {
    cursor: pointer;
    color: #ccc;
    margin: 0 10px;

    &:hover {
      color: #fff;
    }
  }

  .download-button {
    cursor: pointer;
    color: #ccc;
    margin: 0 10px;
    &:hover {
      color: #fff;
    }
  }

  .counter {
    font-size: 0.7rem;
    display: inline-block;
    color: #ccc;
    vertical-align: middle;
    white-space: pre-line;
    margin: 0 7px 0 13px;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #ccc;
    text-decoration: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 1.4rem;
    cursor: pointer;


    &:hover {
      color: #fff;
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }

  .title {
    position: absolute;
    right: 2*$navigation-padding + $navigation-button-width;
    bottom: 0;
    left: 2*$navigation-padding + $navigation-button-width;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
  }
}
