<div class="image-frame">
  <div class="image-window">
    <img [@imageAnimation]="imageState" *ngFor="let image of currentAlbum.images | appCurrentImage:currentImage"
         src="/library{{image.url}}" (load)="setImageLoaded()" />
  </div>
</div>
<div class="navigation-layer">
  <div class="action-bar">
    <div class="counter">{{currentImage.currentNumber}} / {{currentImage.totalNumber}}</div>
    <a class="download-button icon-download" href="{{imageDownloadLink}}"></a>
    <a class="close-button icon-close" (click)="close()"></a>
  </div>
  <a class="nav-button prev icon-prev" (click)="previous()"></a>
  <a class="nav-button next icon-next" (click)="next()"></a>
  <div [@spinnerAnimation] *ngIf="loading$ | async" class="spinner"></div>
  <div class="title">{{currentImage.title}}</div>
</div>
<!-- cash of already loaded images -->
<img *ngFor="let imageUrl of loadedImageUrls" style="display: none" src="/library{{imageUrl}}"/>
