<div class="layout-container">
  <app-admin-header></app-admin-header>

  <p-table [value]="albums" selectionMode="single" dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:2.5em"></th>
        <th>Name</th>
        <th style="width:4em">Size</th>
        <th>Tree</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-album let-index="rowIndex">
      <tr [pReorderableRow]="index" [pSelectableRow]="album">
        <td>
          <i class="pi pi-bars" pReorderableRowHandle></i>
        </td>
        <td>{{album.name}}</td>
        <td>{{album.size}}</td>
        <td>{{album.tree}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

