<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>Administration</span></div>
    <ul class="navigation" style="font-size:1rem;">
      <li><a (click)="navigateToGallery()"><i class="icon-albums"></i><span class="label">Gallery</span></a></li>
    </ul>
  </header>
  <nav>
    <p-button class="action" label="Create album" (click)="albumCreate.open()"></p-button>
    <p-button class="action" label="Library" (click)="libraryManager.open()"></p-button>
  </nav>
  <p-table [value]="albums" selectionMode="single" dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:2.5em"></th>
        <th>Name</th>
        <th style="width:4em">Size</th>
        <th>Groups</th>
        <th>Permalink</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-album let-index="rowIndex">
      <tr [pReorderableRow]="index" [pSelectableRow]="album">
        <td>
          <i class="pi pi-bars" pReorderableRowHandle></i>
        </td>
        <td>{{album.name}}</td>
        <td>{{album.size}}</td>
        <td><ul class="album-tree">
          <li class="tree-item" *ngFor="let treeItem of album.tree">{{treeItem}}</li>
        </ul></td>
        <td>{{album.permalink}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-album-create #albumCreate [albums]="albums" (confirm)="onCreateAlbum($event)" headerLabel="Create new album"></app-album-create>
<app-library-manager #libraryManager></app-library-manager>
