<div class="layout-container">
  <header class="layout-header">
    <div class="title"><span>Administration</span></div>
    <ul class="navigation" style="font-size:1rem">
      <li></li>
    </ul>
  </header>
  <nav>
    <p-button class="action" label="Create album"></p-button>
  </nav>

  <p-table [value]="albums" selectionMode="single" dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:2.5em"></th>
        <th>Name</th>
        <th style="width:4em">Size</th>
        <th>Tree</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-album let-index="rowIndex">
      <tr [pReorderableRow]="index" [pSelectableRow]="album">
        <td>
          <i class="pi pi-bars" pReorderableRowHandle></i>
        </td>
        <td>{{album.name}}</td>
        <td>{{album.size}}</td>
        <td>{{album.tree}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

