@import "assets/css/forms.scss";

:host {
  position: relative;
  top: 120px;

  .login-input,
  .password-input {
    width: 400px;
    margin: 10px auto auto;

    @include create-input();
  }

  :host ::ng-deep {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 0;
      -webkit-text-fill-color: #aaa;
      transition: background-color 5000s ease-in-out 0s;
    }
  }


  .submit-button {
    width: 400px;
    font-size: 1.2rem;
    margin: 20px auto auto;
    height: 50px;
    display: block;
    border-radius: 3px;
    outline: 0;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }

    &:active {
      background-color: #bbb;
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    }
  }
}
