.userButton {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18px;
    margin: 3px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #bbb;
    color: #fff;
    font-size: 10px;
}